body{
    margin: 0;
}
.flexcontainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/jungle-cartoon-background-free-vector.webp);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.block{
    display: flex;
		margin-left: 400px;
		margin-right: 400px;
    flex-direction: column;
    background-color: #63c132;
    border: solid #bb8141;
    border-width: 1vw;
    padding: 1vw;
    border-radius: 3vw;
    object-fit: contain;
}

.block h1{
    font-family: "Audiowide", sans-serif;
    font-size: 100px;
    text-align: center;
}

.block p{
    font-family: "Audiowide", sans-serif;
    font-size: 50px;
}
button{
    margin: 10px;
    background-color: #8fd869;
    border-color: #bb8141;
    border-width: 0.7vw;
    border-radius: 3vw;
    box-shadow: 0 0 5px black;
    font-size: 1.5vw;
  }
  button > button:hover{
    background-color: #bb8141;
    border-color: #8fd869;
    color: white;
    text-shadow: 0 0 4px black;
  }

@media(max-width: 426px) {
	.block {
        margin: 20px;
        border-width: 1.5vw;
        padding: 0.5vw;
        border-radius: 0.75vw;
        text-align: center;
	}
	.block h1 {
        font-size: 20px;
	}
	.block p {
        font-size: 10px;
	}
	button {
        margin: 20px;
        border-width: 1.5vw;
        border-radius: 0.75vw;
        font-size: 15px;
	}
}

@media only screen and (min-width: 427px) and (max-width: 769px) {
    .block {
        border-width: 1vw;
        padding: 1vw;
        border-radius: 3vw;
				margin: 50px;
    }
    .block h1 {
        font-size: 35px;
    }
    .block p {
        font-size: 15px;
    }
    button {
        margin: 10px;
        border-width: 0.5vw;
        border-radius: 1.5vw;
        font-size: 20px;
    }
}

@media only screen and (min-width: 770px) and (max-width: 1024px) {
	.block{
		margin-left: 100px;
		margin-right: 100px;
	}
	.block h1{
		font-size: 40px;
	}
	.block p{
		font-size: 17px;
	}
	button{
		font-size: 23px;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 2000px) {
	.block{
		margin-left: 100px;
		margin-right: 100px;
	}
	.block h1{
		font-size: 50px;
	}
	.block p{
		font-size: 20px;
	}
	button{
		font-size: 23px;
	}
}

@media only screen and (min-width: 2001px){
    .block{
		margin-left: 100px;
		margin-right: 100px;
	}
	.block h1{
		font-size: 100px;
	}
	.block p{
		font-size: 45px;
	}
	button{
		font-size: 45px;
	}
}
