body{
    margin: 0;
}

.flexcontainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    width: 200px;
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    background-color: lightcyan;
    border: solid lightskyblue;
    border-width: 10px;
    padding: 10px;
    border-radius: 20px;
}

.menu > button{
    background-color: lightblue;
    border-color: lightskyblue;
    border-width: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.backButton{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-evenly;
    background-color: lightblue;
    border: solid lightskyblue;
    border-width: 10px;
    padding: 10px;
    border-radius: 10px;
}