body{
    margin: 0;
}

.flexcontainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

#board{
    background-color: lightgreen;
    width: 90vmin;
    height: 90vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake{
    background-color: purple;
    border: .25vmin solid black;
}

.food{
    background-color: red;
    border: .25vmin solid black;
}

.hunter{
    background-color: black;
    border: .25vmin solid blue;
}