body{
    margin: 0;
}

.flexcontainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/jungle-cartoon-background-free-vector.webp);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    background-color: lightcyan;
    border: solid lightskyblue;
    border-width: 10px;
    padding: 20px;
    border-radius: 20px;
}

p{
    margin: 0;
}

#submit{
    background-color: lightblue;
    border-color: lightskyblue;
    border-width: 10px;
    border-radius: 10px;
}

#submit:hover{
    background-color: blue;
    color: white;
}

.dropdown{
    width: 155px;
    height: 200px;
    list-style: none;
    padding: 0.25em 0.5em;
    background-color: white;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, .2);
    border-radius: .5em;
    display: none;
    margin: 0;
    opacity: 0;
    overflow-y: overlay;
    position: absolute;
    z-index: 10;
}

.dropdown > li{
    width: 130px;
    padding: 5%;
    padding-left: 0;
    border-radius: .5em;
    cursor: pointer;
}

.dropdown > li:hover{
    background-color: gray;
}

