body{
    margin: 0;
}

.flexcontainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/jungle-cartoon-background-free-vector.webp);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    background-color: #63c132;
    border: solid #bb8141;
    border-width: 10px;
    padding: 20px;
    border-radius: 20px;
    font-family: "Audiowide", sans-serif;

}

p{
    margin: 0;
}

#submit{
    background-color: #8fd869;
    border-color: #bb8141;
    border-width: 10px;
    border-radius: 10px;
}

#submit:hover{
    background-color: #bb8141;
    border-color: #8fd869;
    color: white;
    text-shadow: 0 0 4px black;
}

.dropdown{
    width: 155px;
    height: 200px;
    list-style: none;
    padding: 0.25em 0.5em;
    background-color: white;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, .2);
    border-radius: .5em;
    display: none;
    margin: 0;
    opacity: 0;
    overflow-y: overlay;
    position: absolute;
    z-index: 10;
}

.dropdown > li{
    width: 130px;
    padding: 5%;
    padding-left: 0;
    border-radius: .5em;
    cursor: pointer;
}

.dropdown > li:hover{
    background-color: gray;
}

button{
    background-color: #8fd869;
    border-color: #bb8141;
    border-width: 10px;
    border-radius: 10px;
}
button:hover{
    background-color: #bb8141;
    border-color: #8fd869;
    color: white;
    text-shadow: 0 0 4px black;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

@media(max-width:425px){
    .form{
        font-size: 25px;
    }

    button{
        font-size: 20px;
    }
    .buttons> input{
        font-size: 20px;
    }
}

@media only screen and (min-width: 426px) and (max-width:768px){
    .form{
        font-size: 30px;
    }

    button{
        font-size: 20px;
    }
    .buttons> input{
        font-size: 20px;
    }
    #username{
        width: 200px;
        height: 20px;
        border-width: 2px;

    }
    #password{
        width: 200px;
        height: 20px;
        border-width: 2px;

    }
    #country{
        width: 200px;
        height: 20px;
        border-width: 2px;
    }
}

@media only screen and (min-width: 769px) and (max-width:1024px) {
    .form{
        font-size: 35px;
        padding: 80px;
    }

    #username{
        width: 200px;
        height: 25px;
        border-width: 2px;

    }
    #password{
        width: 200px;
        height: 25px;
        border-width: 2px;

    }
    #country{
        width: 200px;
        height: 25px;
        border-width: 2px;

    }
    .dropdown{
        width: 175px;
    }

    button{
        font-size: 25px;
    }
    .buttons> input{
        font-size: 25px;
    }
    
}
@media only screen and (min-width: 1025px) and (max-width:1440px) {
    .form{
        font-size: 35px;
        padding: 80px;
        padding-left: 100px;
        padding-right: 100px;
    }

    #username{
        width: 200px;
        height: 25px;
        border-width: 2px;

    }
    #password{
        width: 200px;
        height: 25px;
        border-width: 2px;

    }
    #country{
        width: 200px;
        height: 25px;
        border-width: 2px;

    }
    .dropdown{
        width: 175px;
    }

    button{
        font-size: 25px;
    }
    .buttons> input{
        font-size: 25px;
    }
    
}

@media only screen and (min-width: 1441px) and (max-width:2000px) {
    .form{
        border-width: 20px;
        font-size: 20px;
        padding: 80px;
        padding-left: 100px;
        padding-right: 100px;
    }

    #username{
        width: 300px;
        height: 55px;
        border-width: 3px;
    }
    #password{
        width: 300px;
        height: 55px;
        border-width: 3px;
    }
    #country{
        width: 300px;
        height: 55px;
        border-width: 3px;

    }
    .dropdown{
        width: 175px;
    }

    button{
        font-size: 40px;
    }
    .buttons> input{
        font-size: 40px;
    }
}

@media only screen and (min-width: 2001px) {
    .form{
        border-width: 20px;
        font-size: 60px;
        padding: 80px;
        padding-left: 100px;
        padding-right: 100px;
    }

    #username{
        width: 500px;
        height: 55px;
        border-width: 3px;
    }

    #password{
        width: 500px;
        height: 55px;
        border-width: 3px;
    }

    #country{
        width: 500px;
        height: 55px;
        border-width: 3px;
    }

    .dropdown{
        width: 450px;
    }

    button{
        font-size: 80px;
    }

    .buttons> input{
        font-size: 80px;
    }
}