body{
  margin: 0;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(/img/jungle-cartoon-background-free-vector.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.rank{
  width: 50px;
  text-align: start;
}

.name{
  width: 100px;
  text-align: start;
}

table{
  background-color: #63c132;
  border: 1vmin solid #bb8141;
  border-radius: 2vmin;
}

.header > th{
  padding: 0;
}