body{
  margin: 0;
}
.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(/img/jungle-cartoon-background-free-vector.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.rank{
  width: 50px;
  text-align: start;
}

.name{
  width: 100px;
  text-align: start;
}

.score{
  width: 50px;
  text-align: start;
}
table{
  background-color: #63c132;
  border: 1vmin solid #bb8141;
  border-radius: 2vmin;
  width: 400px;
  height: 500px;
}

.header > th{
  padding: 0;
}


.select{
  background-color: #8fd869;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 10px solid #bb8141;
  border-radius: 3vw;
  box-shadow: 0 0 5px black;
  padding: 1em;
  cursor: pointer;
  font-size: 1vw;
  
}

.select:hover{
  background-color: #bb8141;
  border-color: #8fd869;
  color: white;
  text-shadow: 0 0 4px black;
}

.menu{
  width: 155px;
  height: 200px;
  list-style: none;
  padding: 0.25em 0.5em;
  background-color: white;
  box-shadow: 0 .5em 1em rgba(0, 0, 0, .2);
  border-radius: .5em;
  display: none;
  margin: 0;
  opacity: 0;
  overflow-y: overlay;
  position: absolute;
  z-index: 10;
}

.menu > li{
  width: 130px;
  padding: 5%;
  padding-left: 0;
  border-radius: .5em;
  cursor: pointer;
}

.menu > li:hover{
  background-color: gray;
}

.active{
    background-color: #23242a;
}

.menu-open{
    display: block;
    opacity: 1;
} 

button{
  width: 7vw;
  height: 5vh;
  background-color: #8fd869;
  border-color: #bb8141;
  border-width: 1vw;
  border-radius: 3vw;
  box-shadow: 0 0 5px black;
  font-size: 1vw;
}
button > button:hover{
  background-color: #bb8141;
  border-color: #8fd869;
  color: white;
  text-shadow: 0 0 4px black;
}
