@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
  background-image: url(/img/jungle-cartoon-background-free-vector.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
#leaderboard {
    display: grid;
    place-items: center;
    align-items: center;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
  }
  
  #leaderboard th, #leaderboard td {
    padding: 8px;
    text-align: left;
    background-color: lightblue;
    font-size: 30px;
  }

  img{
    width: 30px;
    height: 20px;
  }

  .userRow tr{
    border: 4px solid black;
  }
