body{
    margin: 0;
}

.flexcontainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/jungle-cartoon-background-free-vector.webp);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    width: 50vw;
    height: 70vh;
    flex-direction: column;
    background-color: #63c132;
    border: solid #bb8141;
    border-width: 1vw;
    padding: 1vw;
    border-radius: 3vw;
}

.menu > h1{
    font-family: "Audiowide", sans-serif;
    font-size: 4rem;
    color: #7b470b;
    text-shadow: 0 0 1vw#bb8141;
    margin: 0;
    text-align: center;
}

.menu-buttons{
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
}

.menu-buttons > button{
    width: 30vw;
    height: 10vh;
    background-color: #8fd869;
    border-color: #bb8141;
    border-width: 1vw;
    border-radius: 3vw;
    box-shadow: 0 0 5px black;
    font-size: 2vw;
    font-family: "Audiowide", sans-serif;

}

.menu-buttons > button:hover{
    background-color: #bb8141;
    border-color: #8fd869;
    color: white;
    text-shadow: 0 0 4px black;
}

@media(max-width:425px){
    .menu h1{
        font-size: 50px;
    }
    .menu{
        border-width: 8px;
        padding: 30px;
    }

    .menu-buttons > button{
        font-size: 20px;
        width: 170px;
    }
}
@media only screen and (min-width:426px) and (max-width:768px){
    .menu h1{
        font-size: 70px;
    }
    .menu{
        padding: 30px;
    }

    .menu-buttons > button{
        font-size: 20px;
        width: 220px;
    }
}

@media only screen and (min-width:769px) and (max-width:1024px){
    .menu h1{
        font-size: 60px;
    }
    .menu{
        padding: 30px;
    }

    .menu-buttons > button{
        font-size: 25px;
        width: 300px;
    }
}

@media only screen and (min-width:1025px) and (max-width:1440px){
    .menu h1{
        font-size: 80px;
    }
}

@media only screen and (min-width:1441px) and (max-width: 2000px){
    .menu h1{
        font-size: 55px;
    }
}

@media only screen and (min-width: 2001px){
    .menu h1{
        font-size: 105px;
    }
}