body{
    margin: 0;
}

.flexcontainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    width: 300px;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    background-color: lightcyan;
    border: solid lightskyblue;
    border-width: 10px;
    padding: 10px;
    border-radius: 20px;
}

.menu > button{
    background-color: lightblue;
    border-color: lightskyblue;
    border-width: 10px;
    border-radius: 10px;
}

.menu > button:hover{
    background-color: blue;
    color: white;
}

.menu > h1{
    margin-top: 0;
    font-size: 50px;
    text-align: center;
}