body{
    margin: 0;
}

.flexcontainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightblue;
}

#board{
    background-color: lightgreen;
    width: 97vw;
    height: 97vh;
    display: grid;
    grid-template-rows: repeat(31, 1fr);
    grid-template-columns: repeat(31, 1fr);
    border: 10px solid black;
    border-radius: 20px;
}

.snake{
    background-color: purple;
    border: .25vmin solid black;
}

#snake-head{
    background-color: purple;
    border: .25vmin solid black;
}

.snake-head-up{
    border: none;
}

.snake-body{
    background-color: purple;
}

#snake-tail{
    background-color: purple;
}

.food{
    background-color: red;
    border: .25vmin solid black;
}

.hunter{
    background-color: black;
    border: .25vmin solid blue;
}

.banana{
    background-color: yellow;
    border: .25vmin solid black;
}

.orange{
    background-color: orange;
    border: .25vmin solid black;
}

.path-vertical{
    background-color: gray;
    border-left: .25vmin solid black;
    border-right: .25vmin solid black;
}

.path-horizontal{
    background-color: gray;
    border-top: .25vmin solid black;
    border-bottom: .25vmin solid black;
}

.path-center{
    background-color: gray;
}

.checkered{
    background-color: greenyellow;
}

#leftSide{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#leftSide > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    border: 10px solid lightskyblue;
    border-radius: 20px;
}

#leftSide > div > div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#pause{
    background-color: lightgreen;
    border-color: green;
    border-radius: 10px;
    border-width: 10px;
}

#resume{
    background-color: lightskyblue;
    border-color: blue;
    border-radius: 10px;
    border-width: 10px;
}

#exit{
    background-color: rgb(250, 84, 84);
    border-color: darkred;
    border-radius: 10px;
    border-width: 10px;
}